@tailwind base;
@tailwind components;
@tailwind utilities;

button div {
  transition: all 0.3s ease;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
